.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}






nav{
  background-color:aliceblue;
}
ul{
  margin-left: 700px;
  margin-top: 5px;
  
}
li{
 
 float: left;
 margin: 20px;
}
.main{
  height: 50px;
  background-color: skyblue;
  
  border: 1px solid black;
}
.head{
  height: 680px;
  border: 1px solid black;
}
img:hover{
  transform: translate(-600px);
}

img{
  height: 200px;
  width: 200px;
  margin-left: 1200px;
  border-radius: 50%;
  transition: width 2s, height 2s, transform 10s;
 
}
.body{
  margin: 0px;
  margin-left: 100px;
  margin-top: 20px;
  text-anchor: middle;
}
h1{
  text-align: center;
}